<!DOCTYPE html>
<html>
<head>
	<title>Client Page</title>
</head>
<body>
	<form action="/users", method="post">
		Name: <input id="name" name="name" type="text">
		Age: <input id="age" name="age" type="text">
		<button id="button" type="submit">Submit</button>
	</form>
</body>
</html>