<!DOCTYPE html>
<html>
<head>
	<title>Quoting Dojo</title>
</head>
<body>
	<h1>Welcome to QuotingDojo</h1>
	<form action='/quotes', method="post">
		<div>
			<h3>Your Name:</h3>
			<input type="text" name="name">
		</div>
		<div>
			<h3>Your Quote:</h3>
			<input type="text" name="quote">
		</div>
		<input type="submit" value="Add my quote!">
	</form>
	<a href="/quotes"><button>Skip to quotes</button></a>
</body>
</html>