<!DOCTYPE html>
<html>
<head>
	<title>Quotes</title>
</head>
<body>
	<h1>Here are the awesome quotes!</h1>
	<div>
		<% for (index in Quote) { %>
		<div>
			<%= Quote[index].name %>
			<%= Quote[index].quote %>
		</div>		
		<% } %>
	</div>
	<a href="/"><button>Go back</button></a>
</body>
</html>